<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <applicationname>NumberShooter</applicationname>
    <applicationtitle>NumberShooter - Polytech 2013</applicationtitle>
    <windowwidth>1600</windowwidth>
    <windowheight>900</windowheight>
    <isrendererfullscreen>false</isrendererfullscreen>


    <ressourcesroot>ressources/</ressourcesroot>


</configuration>